@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #00FA9A, #ADFF2F, #32CD32, #6B8E23, #228B22);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: bg-transition 8s ease-in-out infinite;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    text-transform: uppercase;
    text-transform: 2px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    padding: 1rem 4rem;
    border: 1px solid white;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
    color: #00FA9A;
    background-color: white;
}

@keyframes bg-transition {
    0% {
        background-position: 0% 80%;
    }

    50% {
        background-position: 80% 0%;
    }

    100% {
        background-position: 0% 90%;
    }
}